html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
fieldset,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
.body-container {
  max-width: 1400px;
  margin: 50px auto;
  font-family: 'Lemon', serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 40px;
}
.scaffold-container {
  min-width: 300px;
}
.main-container {
  font-family: 'Libre Baskerville', serif;
  max-width: 600px;
}
.hero-el {
  text-align: center;
  margin-top: 20px;
}
.answer-el {
  font-size: 40px;
  letter-spacing: 3px;
}
.question-el {
  padding: 30px 0px;
}
.key-container {
  font-family: 'Lemon', serif;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.letter-input {
  display: none;
}
.letter-btn {
  font-size: 20px;
  text-align: center;
  width: 50px;
  height: 30px;
  border: 1px solid blue;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.answ-count {
  color: red;
}
.letter-input:checked + .letter-btn {
  background-color: blue;
  color: azure;
}
.modal-container {
  position: fixed;
  gap: 15px;
  z-index: 5;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(142, 142, 142, 0.5);
}
.modal-outcome {
  color: red;
  font-size: 20px;
}
.answer-span {
  font-family: 'Libre Baskerville', serif;
}
.modal-btn {
  background-color: azure;
  padding: 10px 15px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
@media (hover: hover) {
  .letter-btn:hover {
    cursor: pointer;
    background-color: aquamarine;
  }
  .letter-btn:active {
    background-color: aqua;
    color: red;
  }
  .modal-btn:hover {
    background-color: blanchedalmond;
  }
  .modal-btn:active {
    color: red;
  }
}
@media (max-width: 768px) {
  .body-container {
    flex-direction: column;
    margin: 10px auto;
    gap: 10px;
  }
  .hero-el {
    font-size: 20px;
  }
  .question-el {
    padding: 15px 0px;
  }
  .svg-el {
    height: 300px;
  }
}
@media (max-width: 490px) {
  .body-container {
    padding: 10px 10px;
  }
  .svg-el {
    height: 250px;
  }
}
